$form__input_h: 46px;
$form__button_h: 54px;
$form__button_w: 220px;

.form{
	box-sizing: border-box;
	background: $color__theme;
	padding: 2rem 3rem;
	
	// mods
	&_theme_white{
			background: white;
			color: black;
	}
	&_theme_white &__{
		&title{
			color: inherit;
		}
		&input{
			background: color(black a(.1));
		}
		&button{
			background: $color__theme;
		}
	}
	
	// elements
	&__{
		&title{
			margin: 0 0 1rem;
			font-weight: 700;
			font-size: 1.5rem;
			color: $color__white;
		}
		&input{
			height: $form__input_h;
			line-height: $form__input_h;
			
			padding: 0 1.25rem;
			margin: 1.25rem 0;
			font-size: 1rem;
			
			background: $color__white;
			color: $color__black;
		}
		&button{
			width: $form__button_w;
			height: $form__button_h;
			line-height: $form__button_h;
			font-size: 1rem;
			font-weight: 700;
			
			transition: .3s;
			background: $color__dark;
			color: $color__white;
			cursor: pointer;
			
			&:hover{
				background: none;
				box-shadow: 0 0 0 3px $color__dark inset;
				color: $color__dark;
			}
			&:active{
				box-shadow: none;
				background: color($color__dark l(+10%));
			}
			
			&--light{
				background: $color__theme;
			}
		}
	}
}