<form class="form">
	<div class="form__title">Записаться на просмотр</div>
	<div class="form__note">Оставьте прямую заявку в отдел продаж застройщика, и специалист перезвонит вам в ближайшее время</div>
	<input type="text" class="form__input" placeholder="Ваше имя" required>
	<input type="tel" class="form__input" placeholder="Номер телефона" required>
	<button class="form__button">Записаться</button>
</form>