.checklist{
	display: block !important;
	
	background-image: url(img/bg-room.png);
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: auto 100%;
	text-align: right;
	
	// elements
	&__{
		&content{
			float: right;
			width: 50%;
			height: 100%;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			text-align: center;
		}
		&title{
			margin: 3rem 0;
			font-size: 3rem;
			line-height: 1;
			
			&__mark{
				font-weight: 700;
				color: $color__theme;
			}
		}
		&item{
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			width: 48%;
			padding: 0 2.5%;
		}
		&icon{
			margin: 1rem 0;
		}
		&button{
			display: block;
			width: 370px;
			height: 60px;
			margin: 3rem auto 0;
			line-height: 60px;
			font-weight: 700;
			
			background: $color__theme;
			color: $color__white;
		}
	}
}