<div class="g-section g-section_slide checklist">
	<div class="g-section__content checklist__content">
		<div class="checklist__title">
			<div class="checklist__title__mark">А что еще нужно для</div>идеальной жизни?
		</div>
		<div class="checklist__list">
			<div class="checklist__item">
				<div class="checklist__icon">
					<div class="i-check"></div>
				</div>
				Скоростной грузопассажирский безшумный лифт премиум класса
			</div>
			<div class="checklist__item">
				<div class="checklist__icon">
					<div class="i-check"></div>
				</div>
				Двухуровневый подземный паркинг на 283 машино-места
			</div>
			<div class="checklist__item">
				<div class="checklist__icon">
					<div class="i-check"></div>
				</div>
				Закрытая охраняемая территория, видеонаблюдение двора и паркинга
			</div>
			<div class="checklist__item">
				<div class="checklist__icon">
					<div class="i-check"></div>
				</div>
				Счетчик учета воды, тепла и электричества
			</div>
			<div class="checklist__item">
				<div class="checklist__icon">
					<div class="i-check"></div>
				</div>
				Пластиковые окна — тройной стеклопакет с повышенной шумоизоляцией
			</div>
			<div class="checklist__item">
				<div class="checklist__icon">
					<div class="i-check"></div>
				</div>
				Видеодомофон
			</div>
		</div>
		<a href="#popup/callback" class="checklist__button button">Записаться на просмотр</a>
	</div>
</div>