<div class="flat g-section">
	<div class="g-section__content flat__content">
		<div class="flat__nav">
			<div class="flat__back">
				<div class="flat__back__arrow i-back"></div>
				<span class="flat__back__text">Вернуться к плану этажа</span>
			</div>
			<div class="flat__menu">
				<a href="#" class="flat__menu__link _active">
					<span class="flat__menu__text">Планировка</span>
				</a>
				<a href="#" class="flat__menu__link">
					<span class="flat__menu__text">3D-план</span>
				</a>
				<a href="#" class="flat__menu__link">
					<span class="flat__menu__text">3D-вид</span>
				</a>
				<a href="#" class="flat__menu__link">
					<span class="flat__menu__text">Контакты</span>
				</a>
			</div>
			<a href="#" class="flat__tech">
				<span class="flat__tech__icon i-tech"></span>
				<span class="flat__tech__text">Технические характеристики</span>
			</a>
		</div>
		<div class="flat__main">
			<aside class="flat__aside">
				<div class="flat__title">2-комн. квартира 55,30 м2</div>
				<div class="flat__price">от 4 424 000 руб.</div>
				<dl class="flat__data">
					<dt>Стоимость за м2:</dt>
					<dd>80 000 руб.</dd>
					<dt>Срок сдачи:</dt>
					<dd>4 кв. 2017</dd>
					<dt>Этажность:</dt>
					<dd>15</dd>
					<dt>Тип дома:</dt>
					<dd>монолитно-каркасный</dd>
				</dl>
				<a href="#popup/callback" class="flat__button button" data-title="2-комн. квартира, интересует точная стоимость">Узнать точную цену</a>
				<div class="flat__actions">
					<a href="#" class="flat__action flat__print">
						<span class="flat__action__icon i-print"></span>
						<span class="flat__action__text">Распечатать</span>
					</a>
					<a href="#" class="flat__action flat__download">
						<span class="flat__action__icon i-download"></span>
						<span class="flat__action__text">Cкачать прайс</span>
					</a>
				</div>
			</aside>
			<div class="flat__info">
				<div class="flat__info-tab _active">
					<div class="flat__preview">
						<img src=":700x380" alt="" class="flat__preview__img">
						<a href="#" class="flat__preview__loop button">
							<span class="flat__preview__icon i-loop"></span>
						</a>
					</div>
				</div>
				<div class="flat__info-tab">
					3D ПЛАН
				</div>
				<div class="flat__info-tab">
					3D ВИД
				</div>
				<div class="flat__info-tab">
					Контакты
				</div>
			</div>
		</div>
	</div>
</div>