.flat{
	height: 100%;
	padding-right: 0;
	
	// elements
	&__{
		&nav{
			flex: 0 0 90px;
			
			display: flex;
			justify-content: space-between;
			
			border-bottom: 1px solid color(black a(.3));
			line-height: 90px;
		}
		&back{
			position: relative;
			font-size: 1rem;
			font-weight: 700;
			color: $color__theme;
			
			&:hover{
				text-decoration: none;
				cursor: pointer;
			}
			&:hover &__text{
				border-bottom: 0;
			}
			
			&__{
				&arrow{
					position: absolute 50% 100% * *;
					margin: 0 .5rem;
					transform: translateY(-50%);
				}
				&text{
					border-bottom: 1px dashed;
				}
			}
		}
		&tech{
			&:hover &__{
				&text{
					border-bottom: 0;
				}
			}
			
			&__{
				&text{
					border-bottom: 1px dotted;
				}
				&icon{
					margin: 0 .5rem;
				}
			}
		}
		&menu{
			align-self: stretch;
			
			&__{
				&link{
					display: inline-block;
					height: 100%;
					padding: 0 1rem;
					font-weight: 700;
					
					&._active{
						text-decoration: none;
						box-shadow: inset 0 -3px $color__theme;
						color: $color__theme;
					}
				}
				&text{
					border-bottom: 1px dashed;
				}
				&link:hover &text,
				&link._active &text{
					border-bottom: 0;
				}
			}
		}
		&content{
			flex: 1 1 100%;
			
			display: flex;
			flex-direction: column;
		}
		&main{
			flex: 1 1 0%;
			
			display: flex;
			align-items: center;
		}
		&aside{
			min-width: 300px;
		}
		&info{
			height: auto;
		}
		&info-tab{
			
			img{
				max-width: 100%;
				width: 100%;
				height: auto;
			}
			
			&:not(._active){
				display: none;
			}
		}
		&preview{
			position: relative;
			
			&__{
				&loop{
					position: absolute 0 0 * *;
					size: 50px;
					
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&icon{
					filter: brightness(0) invert(100%);
				}
				&loop:hover &icon{
					filter: none;
				}
			}
		}
		&title{
			margin: 0 0 2rem;
			font-size: 1.5rem;
			font-weight: 700;
		}
		&price{
			margin: 0 0 2rem;
			font-size: 2rem;
		}
		&data{
			column-count: 2;
			font-size: .8rem;
			line-height: 1.25;
			
			dt{
				color: color(black a(.3));
			}
			dd{
				margin: 0 0 .5rem;
			}
		}
		&button{
			display: block;
			box-sizing: border-box;
			width: 210px;
			height: 54px;
			line-height: 54px;
			margin: 2rem 0 0;
			
			font-size: 1rem;
			font-weight: 700;
			text-align: center;
		}
		&actions{
			margin: 2rem 0 0;
		}
		&action{
			font-size: 1rem;
			
			&:not(:first-child){
				margin-left: 1.5rem;
			}
			
			&__{
				&icon{
					margin: 0 .5rem 0 0;
				}
				&text{
					border-bottom: 1px solid color(black a(.3));
					
					&:hover{
						border-bottom: 0;
						color: $color__theme;
					}
				}
			}
		}
	}
}