.nav{
	list-style: none;
	
	position: fixed 0 0 0 *;
	z-index: 1000;
	
	box-sizing: border-box;
	width: $nav;
	padding: calc($header + 1rem) 0 1rem;
	border-left: 1px solid color($color__black a(.1));
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
	background: $color__white;
	text-align: center;
	
	// elements
	&__{
		&item{
			flex: 1 1 0%;
			width: 30px;
			
			box-shadow: 0 -1px color($color__black a(.1)) inset;
			
			transition: $transition;
			
			&:hover
			{
				box-shadow: 0 -3px $color__theme inset;
			}
			
			.fp-viewing-page1 &:nth-child(1){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page2 &:nth-child(2){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page3 &:nth-child(3){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page4 &:nth-child(4){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page5 &:nth-child(5){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page6 &:nth-child(6){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page7 &:nth-child(7){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page8 &:nth-child(8){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page9 &:nth-child(9){
				box-shadow: 0 -3px $color__theme inset;
			}
			.fp-viewing-page10 &:nth-child(10){
				box-shadow: 0 -3px $color__theme inset;
			}
		}
		&numb{
			size: 100%;
			
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}