<ul class="nav" id="nav">
	<li class="nav__item" data-menuanchor="page1"><a href="#page1" class="nav__numb">1</a></div>
	<li class="nav__item" data-menuanchor="page2"><a href="#page2" class="nav__numb">2</a></div>
	<li class="nav__item" data-menuanchor="page3"><a href="#page3" class="nav__numb">3</a></div>
	<li class="nav__item" data-menuanchor="page4"><a href="#page4" class="nav__numb">4</a></div>
	<li class="nav__item" data-menuanchor="page5"><a href="#page5" class="nav__numb">5</a></div>
	<li class="nav__item" data-menuanchor="page6"><a href="#page6" class="nav__numb">6</a></div>
	<li class="nav__item" data-menuanchor="page7"><a href="#page7" class="nav__numb">7</a></div>
	<li class="nav__item" data-menuanchor="page8"><a href="#page8" class="nav__numb">8</a></div>
	<li class="nav__item" data-menuanchor="page9"><a href="#page9" class="nav__numb">9</a></div>
	<li class="nav__item" data-menuanchor="page10"><a href="#page10" class="nav__numb">10</a></div>
</ul>