.button{
	background: $color__theme;
	transition: .3s;
	color: white;
	
	// mods
	&:hover{
		background: $color__white;
		box-shadow: 0 0 0 3px $color__theme inset;
		color: $color__theme;
		cursor: pointer;
	}
	&:active{
		box-shadow: none;
		background: color($color__theme b(+10%));
		color: white;
	}
}