[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-arrow-next:before {
	width: 21px;
	height: 35px;
	background-position: -294px -40px;
}
.i-arrow-prev:before {
	width: 21px;
	height: 35px;
	background-position: -294px 0px;
}
.i-back:before {
	width: 19px;
	height: 18px;
	background-position: -294px -105px;
}
.i-beg:before {
	width: 57px;
	height: 68px;
	background-position: -64px -160px;
}
.i-check:before {
	width: 18px;
	height: 16px;
	background-position: -294px -128px;
}
.i-close:before {
	width: 15px;
	height: 15px;
	background-position: -294px -191px;
}
.i-credit:before {
	width: 59px;
	height: 70px;
	background-position: 0px -160px;
}
.i-dev:before {
	width: 80px;
	height: 29px;
	background-position: -193px -160px;
}
.i-doc:before {
	width: 62px;
	height: 62px;
	background-position: -126px -160px;
}
.i-download:before {
	width: 17px;
	height: 16px;
	background-position: -294px -170px;
}
.i-hands:before {
	width: 75px;
	height: 66px;
	background-position: -214px 0px;
}
.i-logo:before {
	width: 209px;
	height: 155px;
	background-position: 0px 0px;
}
.i-logotype:before {
	width: 139px;
	height: 16px;
	background-position: 0px -235px;
}
.i-loop:before {
	width: 32px;
	height: 32px;
	background-position: 0px -256px;
}
.i-placemark:before {
	width: 23px;
	height: 30px;
	background-position: -37px -256px;
}
.i-print:before {
	width: 18px;
	height: 16px;
	background-position: -294px -149px;
}
.i-tech:before {
	width: 20px;
	height: 20px;
	background-position: -294px -80px;
}
.i-timer:before {
	width: 68px;
	height: 71px;
	background-position: -214px -71px;
}
