<div class="g-section g-section_slide contacts">
	<div class="g-section__content contacts__content">
		<div class="contacts__info">
			<div class="contacts__title">Контакты</div>
			<div class="contacts__subtitle">отдела продаж</div>
			<div class="contacts__set">
				<div class="contacts__termin">Основной офис:</div>
				<address class="contacts__def">г. Тюмень, ул. Советская, 55</address>
			</div>
			<div class="contacts__set">
				<div class="contacts__termin">Дополнительный офис:</div>
				<address class="contacts__def">г. Тюмень, ул. Камышинская, 19, в здании ресторана «Банковский клуб», 2 этаж</address>
			</div>
			<div class="contacts__set">
				<div class="contacts__termin">Телефоны:</div>
				<div class="contacts__def">
					<div class="contacts__phone">
						<div class="contacts__phone__add">+7 (3452)</div>
						<div class="contacts__phone__list">
							<div class="contacts__phone__number">46-85-14</div>
							<div class="contacts__phone__number">70-60-70</div>
							<div class="contacts__phone__number">95-49-49</div>
							<div class="contacts__phone__number">95-48-48</div>
							<div class="contacts__phone__number">95-00-29</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contacts__set">
				<div class="contacts__termin">Режим работы:</div>
				<div class="contacts__def">Пн—Пт, с 8:00 до 19:00</div>
			</div>
		</div>
		<div class="contacts__map" id="map_office"></div>
	</div>
	<import module="footer"></import>
</div>