$contacts__info: 370px;
.contacts{
	
	// elements
	&__{
		&content{
			display: flex;
			flex: 1 1 100%;
			padding-left: 1rem;
			align-items: stretch;
		}
		&info{
			box-sizing: border-box;
			align-self: center;
			width: $contacts__info;
			padding-right: 100px;
		}
		&title,
		&subtitle
		{
			font-size: 2.375rem;
			font-weight: 700;
			line-height: 1;
		}
		&subtitle{
			color: $color__theme;
		}
		&set{
			padding: 1.5rem 0;
			
			&:not(:last-child){
				border-bottom: 1px solid color($color__black a(.1));
			}
		}
		&termin{
			margin: 0 0 1rem;
			font-weight: 700;
			font-size: 14px;
		}
		&def{
			font-size: 15px;
		}
		&phone{
			display: flex;
			
			&__{
				&add{
					padding-right: .5rem;
					color: color($color__black a(.5));
				}
				&list{
					column-count: 2;
					column-gap: 0;
				}
				&number{
					
					&:nth-child(1),
					&:nth-child(2)
					{
						&:after{
							content: '|';
							padding: 0 .5rem;
							color: color($color__black a(.5));
						}
					}
				}
			}
		}
		&map{
			flex: 1 1 0%;
			min-height: 100%;
			background: gray;
			
			@media (min-width: $content_max) {
				margin-right: calc(($content_max - 100vw + $nav) / 2);
			}
		}
	}
}