.g-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	&_slide{
		overflow: hidden;
		box-sizing: border-box;
		height: calc(100vh - $header) !important;
	}
	
	&__content{
		box-sizing: border-box;
		max-width: $content_max;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
	}
}