<div class="g-section footer">
	<div class="g-section__content footer__content">
		<div class="footer__col footer__copyright">
			<div class="footer__mark">ООО «Тюменьинвестстрой»</div><br>© Все права защищены
		</div>
		<div class="footer__col footer__note">Данный сайт носит исключительно информационный характер. Информационные материалы и цены, размещенные на сайте, не являются публичной офертой. Застройщик имеет право изменять стоимость объектов. С проектной декларацией можно ознакомиться здесь: <a class="footer__mark footer__link" href="http://ttis.ru/about-us/dekl/">ttis.ru/about-us/dekl/</a></div>
		<div class="footer__col footer__dev footer__mark">
			<div class="footer__dev__icon"><div class="i-dev"></div></div>
			<a href="" class="footer__link">Сайт создан</a> в интерактивном агентстве Ремарк в 2015 г.
		</div>
	</div>
</div>