.footer{
	width: 100%;
	height: auto !important;
	padding: 1rem 0;
	font-size: .75rem;
	
	background: $color__dark;
	color: $color__gray-brown;
	
	// elements
	&__{
		&content{
			display: flex;
			justify-content: space-between;
			padding: 0 1rem;
		}
		&mark{
			color: $color__white;
		}
		&link{
			border-bottom: 1px solid color($color__white a(.5));
			
			&:hover{
				border-bottom: 0;
			}
		}
		&col{
			box-sizing: border-box;
			padding-top: 1rem;
			padding-bottom: 1rem;
			&:not(:first-child){
				padding-left: 2rem; 
			}
			&:not(:last-child){
				padding-right: 3rem;
				border-right: 1px solid $color__gray-brown;
			}
		}
		&dev,
		&copyright
		{
			white-space: nowrap;
		}
		&copyright{
			min-width: 190px;
		}
		&dev{
			min-width: 320px;
			&__icon{
				margin: 0 0 .5rem;
			}
		}
	}
}