.g-page{
	position: relative;
	min-width: 1024px;
	padding-top: $header !important;
	
	background: #fff;
	font: $font__size $font__family;
	overflow-x: hidden;
	
	&._lock{
		overflow: hidden !important;
	}
}