.popup{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	overflow: auto;
	visibility: hidden;
	
	// mods
	&._open{
		visibility: visible;
		animation: fadeIn .5s;
	}
	
	&__{
		&overlay{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		&content{
			position: relative;
			z-index: 1;
			box-sizing: border-box;
			width: 500px;
			padding: 40px;
			margin: 50px auto;
			background: #fff;
		}
		&close{
			position: absolute;
			top: 0;
			right: 0;
			line-height: 0;
			padding: 1rem;
			border: 0 solid color(black a(.2));
			border-width: 0 0 1px 1px;
			cursor: pointer;
		}
		&title{
			margin: 2rem 0;
			font-size: 2rem;
			font-weight: 700;
			
			text-align: center;
		}
	}
}