<div class="popup" data-popup="callback">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"><div class="i-close"></div></div>
		<import module="form" class=" form_theme_white"></import>
	</div>
</div>
<div class="popup" data-popup="thanks">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"><div class="i-close"></div></div>
		<div class="popup__title">Заявка успешно отправлена</div>
	</div>
</div>