.header{
	position: fixed 0 0 * 0;
	z-index: 1000;
	height: $header;
	
	background: #262021;
	color: $color__white;
	
	// elements
	&__{
		&info{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-self: stretch;
			
			padding-right: 5%;
			
			background: $color__predark;
			
			&:after{
				content: '';
				position: absolute 0 0 0 *;
				z-index: -10;
				width: 100vw;
				background: inherit;
			}
		}
		&logo,
		&motto{
			display: inline-block;
			vertical-align: bottom;
		}
		&motto{
			margin: 0 0 0 1.5rem;
			font-family: $font__family2;
			line-height: .75;
		}
		&content{
			position: relative;
			z-index: 10;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&contacts{
			display: flex;
		}
		&address{
			display: flex;
			
			&__note{
				margin: 0 .25rem 0 0;
				color: $color__gray-brown;
			}
		}
		&phone{
			margin: 0 0 0 3rem;
			
			&__number{
				font-size: 1.5em;
				line-height: 0;
			}
		}
		&callback{
			display: flex;
			align-items: center;
			
			align-self: stretch;
			border-top: 2px solid white;
			border-bottom: 2px solid transparent;
			font-weight: 700;
			
			&:hover{
				border-top-color: $color__theme;
				color: $color__theme;
			}
		}
	}
}