<div class="g-section header">
	<div class="g-section__content header__content">
		<div class="header__info">
			<div class="header__info-inner">
				<div class="header__logo"><div class="i-logotype"></div></div>
				<div class="header__motto">Жилой комплекс</div>
			</div>
		</div>
		<div class="header__contacts">
			<div class="header__address">
				<span class="header__address__note">Отдел продаж:</span>
				<address>г. Тюмень, ул. Советская, 55</address>
			</div>
			<a class="header__phone" href="tel:+73452954848">
				+7 (3452)  <span class="header__phone__number">95-48-48</span>
			</a>
		</div>
		<a class="header__callback" href="#popup/callback">Заказать звонок</a>
	</div>
</div>