.facts{
	background: url(img/bg-2.jpg) center / cover no-repeat;
	
	// elements
	&__{
		&content{
			float: right;
		}
		&title,
		&subtitle{
			line-height: 1;
		}
		&title{
			font-size: 4rem;
			font-weight: 700;
			color: $color__dark;
		}
		&subtitle{
			font-size: 2.875rem;
		}
		&list{
			padding: 4rem 0 0 3.5rem;
		}
		&item{
			line-height: 2.5;
			font-size: 1rem;
		}
		&link{
			border-bottom: 1px solid color($color__black a(.2));
			
			&:hover{
				border-bottom: 0;
			}
		}
		&icon{
			margin-right: .5rem;
		}
	}
}