<div class="g-section g-section_slide facts">
	<div class="g-section__content">
		<div class="facts__content">
			<div class="facts__title">5 фактов</div>
			<div class="facts__subtitle">о ЖК «Аристократ»</div>
			<div class="facts__list">
				<div class="facts__item">
					<div class="facts__icon i-check"></div>
					Расположение в самом <a href="" class="facts__link">центре города</a></div>
				<div class="facts__item">
					<div class="facts__icon i-check"></div>
					Квартиры с <a href="" class="facts__link">правильной эргономикой</a></div>
				<div class="facts__item">
					<div class="facts__icon i-check"></div>
					Эффектный <a href="" class="facts__link">аристократический фасад</a></div>
				<div class="facts__item">
					<div class="facts__icon i-check"></div>
					Двухуровневый <a href="" class="facts__link">подземный паркинг</a></div>
				<div class="facts__item">
					<div class="facts__icon i-check"></div>
					Закрытая, безопасная, стильно <a href="" class="facts__link">оформленная территория</a></div>
			</div>
		</div>
	</div>
</div>