.location{
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	
	// elements
	&__{
		&title{
			padding: 5% 0;
			text-align: center;
			font-size: 2.875rem;
			
			&__{
				&mark{
					color: $color__theme;
				}
			}
		}
		&content{
			flex: 1 1 0%;
			align-items: stretch;
		}
		&near{
			align-self: flex-start;
			position: relative;
			z-index: 20;
			box-sizing: border-box;
			width: 100%;
			min-width: 370px;
			max-width: 370px;
			padding: 3.25rem;
			
			background: $color__theme;
			color: $color__white;
			
			&__{
				&icon{
					margin-right: 1rem;
				}
				&title{
					margin: 0 0 2rem;
					font-size: 1.5rem;
					font-weight: 700;
					line-height: 1;
				}
				&item:not(:last-child){
					margin: 1rem 0;
				}
			}
		}
		&map{
			background: black;
			margin-left: -70px;
			flex: 1 1 100%;
		}
	}
}