<div class="g-section g-section_slide">
	<div class="g-section__content location">
		<div class="location__title">Расположение комплекса <span class="location__title__mark">на карте</span></div>
		<div class="location__content grid">
			<div class="location__near">
				<div class="location__near__title">Рядом с жилым комплексом</div>
				<div class="location__near__item">
					<div class="location__near__icon i-placemark"></div>
					Гимназия №1
				</div>
				<div class="location__near__item">
					<div class="location__near__icon i-placemark"></div>
					Администрация г. Тюмени
				</div>
				<div class="location__near__item">
					<div class="location__near__icon i-placemark"></div>
					Цветной бульвар
				</div>
				<div class="location__near__item">
					<div class="location__near__icon i-placemark"></div>
					Дом Пионеров
				</div>
				<div class="location__near__item">
					<div class="location__near__icon i-placemark"></div>
					Ресторан «Банковский клуб»
				</div>
			</div>
			<div class="location__map" id="map_house"></div>
		</div>
	</div>
</div>