<div class="g-section g-section_slide intro">
	<div class="g-section__content grid grid_align_center">
		<div class="intro__content">
			<div class="intro__logo"><div class="i-logo"></div></div>
			<h1 class="intro__title">Старт продаж!</h1>
			<h2 class="intro__subtitle">инвестируй вовремя</h2>
			<a href="#" class="intro__button">Выбрать квартиру</a>
			<a href="#" class="intro__address">
				<span class="intro__address__icon i-placemark"></span>
				<span class="intro__address__name">Пересечение улиц Камышинская и Туринская</span>
			</a>
		</div>
		<form class="intro__form">
			<div class="intro__form__title">Записаться на просмотр</div>
			<div class="intro__form__note">Оставьте прямую заявку в отдел продаж застройщика, и специалист перезвонит вам в ближайшее время</div>
			<input type="text" class="intro__form__input" placeholder="Ваше имя" required>
			<input type="tel" class="intro__form__input" placeholder="Номер телефона" required>
			<button class="intro__form__button button">Записаться</button>
		</form>
	</div>
</div>