$intro__inputh: 46px;
$intro__form-buttonw: 160px;
$intro__form-buttonh: 54px;
$intro__buttonW: 200px;
$intro__buttonH: 54px;
$intro__buttonBorder: 2px;
.intro{
	position: relative;
	overflow: visible;
	color: $color__white;
	
	// elements
	&:after{
		content: '';
		position: absolute 0;
		z-index: 10;
		top: -$header;
		
		background: url(img/bg-intro.jpg) center / cover no-repeat;
	}
	&__{
		&content{
			position: relative;
			z-index: 20;
			text-align: center;
		}
		&title{
			text-transform: uppercase;
			font-size: 4.5rem;
		}
		&subtitle{
			text-transform: uppercase;
			font-size: 2rem;
		}
		&button{
			display: block;
			box-sizing: border-box;
			size: $intro__buttonW $intro__buttonH;
			line-height: calc($intro__buttonH - $intro__buttonBorder * 2);
			border: $intro__buttonBorder solid $color__white;
			margin: 2rem auto;
			font-size: 1rem;
			font-weight: 700;
			transition: .3s;
			
			&:hover{
				background: $color__white;
				color: $color__black;
			}
		}
		&address{
			font-size: 1.125rem;
			
			&:hover &__name{
				border-bottom: 0;
			}
			
			&__{
				&icon{
					margin-right: .5rem;
				}
				&name{
					display: inline-block;
					border-bottom: 1px dotted $color__white;
					font-weight: 700;
				}
			}
		}
		&form{
			position: relative;
			z-index: 20;
			box-sizing: border-box;
			max-width: 470px;
			padding: 4.5rem;
			background: $color__white;
			color: $color__black;
			
			// elements
			&__{
				&title{
					margin: 0 0 1rem;
					font-size: 1.625rem;
					font-weight: 700;
				}
				&note{
					font-size: .8rem;
				}
				&input{
					height: $intro__inputh;
					line-height: $intro__inputh;
					padding: 0 1.5rem;
					margin: 1.5rem 0;
					font-size: 1rem;
					
					background: color($color__black a(.1));
					color: $color__black;
				}
				&button{
					max-width: $intro__form-buttonw;
					height: $intro__form-buttonh;
					line-height: $intro__form-buttonh;
					
					font-weight: 700;
				}
			}
		}
	}
}