<div class="g-section g-section_slide purchase">
	<div class="g-section__content purchase__content purchase__header">
		<hgroup class="purchase__hgroup">
			<div class="purchase__title">
				<span class="purchase__title__mark">Варианты</span> покупки
			</div>
			<div class="purchase__subtitle">квартир в ЖК «Аристократ»</div>
		</hgroup>
		<div class="purchase__types">
			<div class="purchase__type">
				<div class="purchase__type__icon i-credit"></div>
				<div class="purchase__type__title">Рассрочка</div>
				<div class="purchase__type__text">Первоначальный взнос от 30%, срок рассрочки до окончания строительства.</div>
			</div>
			<div class="purchase__type">
				<div class="purchase__type__icon i-beg"></div>
				<div class="purchase__type__title">100% оплата</div>
				<div class="purchase__type__text">Действует система бонусов и скидок.</div>
			</div>
		</div>
	</div>
	<div class="purchase__footer">
		<div class="g-section__content purchase__content">
			<div class="purchase__parking">
				<div class="purchase__parking__title">Машиноместо за</div>
				<div class="purchase__parking__price">500 000 руб.</div>
				<div class="purchase__parking__note">При покупке квартиры действует специальная цена. <br>Срок акции до 01.12.2015 г.</div>
			</div>
			<form class="purchase__form form">
				<div class="form__title">Оставить заявку прямо сейчас</div>
				<input type="text" class="form__input" placeholder="Ваше имя" required>
				<input type="tel" class="form__input" placeholder="Номер телефона" required>
				<button class="form__button">Получить подробности</button>
			</form>
		</div>
	</div>
</div>