.purchase{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
	// elements
	&__{
		&header,
		&footer{
			flex: 1 1 50%;
		}
		&content{
			display: flex;
			height: 100%;
			padding: 0 1rem;
		}
		&header{
			align-items: center;
		}
		&hgroup,
		&types
		{
			align-self: center;
		}
		&hgroup{
			margin-left: 3rem;
			flex: 1 1 0%;
			white-space: nowrap;
		}
		&title{
			font-size: 2.5rem;
			font-weight: 700;
			
			&__mark{
				color: $color__theme;
			}
		}
		&subtitle{
			font-size: 1rem;
		}
		&types{
			flex: 1 1 20%;
			display: flex;
		}
		&type{
			max-width: 300px;
			margin-right: 2.5rem;
			
			&__{
				&icon{
					float: left;
				}
				&title,
				&text
				{
					margin-left: 90px;
				}
				&title{
					margin-bottom: .5rem;
					font-size: 1.125rem;
					font-weight: 700;
				}
			}
		}
		&footer{
			background: url(img/bg-3.jpg) center / cover no-repeat;
			color: $color__white;
		}
		&parking{
			align-self: center;
			flex: 1 1 0%;
			margin: 2rem 0;
			text-align: center;
			
			&__{
				&title{
					font-size: 3rem;
					font-weight: 700;
					color: $color__theme;
					line-height: 1;
				}
				&price{
					margin: 0 0 3rem;
					font-size: 4rem;
					line-height: 1;
				}
			}
		}
		&form{
			align-self: stretch;
			min-width: 430px;
			margin-top: -1rem;
			margin-right: 5rem;
		}
	}
}