.grid{
	display: flex;
	justify-content: space-between;
	
	/*mods*/
	&_justify{
		&_center{
			justify-content: center;
		}
		&_around{
			justify-content: space-around;
		}
		&_start{
			justify-content: flex-start;
		}
		&_end{
			justify-content: flex-end;
		}
	}
	&_align{
		&_center{
			align-items: center;
		}
		&_start{
			align-items: flex-start;
		}
		&_end{
			align-items: flex-end;
		}
		&_stretch{
			align-items: stretch;
		}
		&_baseline{
			align-items: baseline;
		}
	}	
	&_dir{
		&_column{
			flex-direction: column;
		}
		&_row{
			flex-direction: row;
		}
		&_column-rev{
			flex-direction: column-reverse;
		}
		&_row-rev{
			flex-direction: row-reverse;
		}
	}
	&_wrap{
		flex-wrap: wrap;
		&_rev{
			flex-wrap: wrap-reverse;
		}
	}
	&_nowrap{
		flex-wrap: wrap;
	}
	
	/*elements*/
	&__col{
		&_long{
			flex: 1;
		}
		&_half{
			flex: 1 50%;
		}
	}
}