.developer{
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	
	// elements
	&__{
		&content{
			flex: 1 1 0%;
			display: flex;
			align-items: center;
			border-bottom: 1px solid color(#000 a(.3));
		}
		&headers{
			flex: 1 1 50%;
			text-align: center;
			white-space: nowrap;
		}
		&title{
			font-size: 2rem;
			font-weight: 700;
		}
		&subtitle{
			font-size: 2.75rem;
			color: $color__theme;
		}
		&text{
			flex: 1 1 50%;
			padding: 0 
		}
		&link{
			text-decoration: underline;
			color: $color__theme;
			
			&:hover{
				text-decoration: none;
			}
			
			&:before{
				content: '';
				display: table;
				clear: both;
				
				margin-top: 1rem;
			}
		}
		&footer{
			flex: 1 1 20%;
			display: flex;
		}
		&quests{
			padding: 3rem 2rem 0;
			text-align: center;
			
			&__{
				&title{
					font-size: 1.25rem;
					font-weight: 700;
				}
			}
		}
		&workers{
			display: flex;
		}
		&worker{
			flex: 1 1 0%;
			padding: 1.5rem 0;
			
			&:not(:last-child){
				border-right: 1px solid color(#000 a(.1));
			}
			
			&__{
				&preview{
					border-radius: 50%;
				}
				&title{
					font-weight: 700;
				}
			}
		}
		&form{
			min-width: 430px;
			margin-top: -1rem;
		}
	}
}