<div class="g-section g-section_slide">
	<div class="g-section__content developer">
		<div class="developer__content">
			<hgroup class="developer__headers">
				<div class="developer__subtitle">Надежный застройщик</div>
				<div class="developer__title">Группа компаний «ТИС»</div>
			</hgroup>
			<div class="developer__text">Наша группа компаний «ТИС» на рынке продажи Тюменских новостроек уже 17 лет и мы можем показать результат нашей деятельности в виде 300 000 построенных квадратных метров для работы и жизни. Мы сможем предоставить вам все необходимые документы для подтверждения чистоты сделки и вы будете уверены в своем выборе.<a href="#" class="developer__link">Посетить сайт</a></div>
		</div>
		<div class="developer__footer">
			<div class="developer__quests">
				<div class="developer__quests__title">Возникли вопросы?</div>
				<div class="developer__quests__subtitle">На ваши вопросы ответят внимательные и доброжелательные сотрудники компании:</div>
				<div class="developer__workers">
					<div class="developer__worker">
						<img src=":120x120.jpg" alt="" class="developer__worker__preview">
						<div class="developer__worker__title">Татьяна Палецких</div>
						<div class="developer__worker__post">директор по продажам</div>
					</div>
					<div class="developer__worker">
						<img src=":120x120.jpg" alt="" class="developer__worker__preview">
						<div class="developer__worker__title">Лилия Каримова</div>
						<div class="developer__worker__post">специалист отдела реализации</div>
					</div>
				</div>
			</div>
			<form class="developer__form form">
				<div class="form__title">Заказать звонок</div>
				<input type="text" class="form__input" placeholder="Ваше имя" required>
				<input type="tel" class="form__input" placeholder="Номер телефона" required>
				<button class="form__button">Получить подробности</button>
			</form>
		</div>
	</div>
</div>