.gallery{
	width: 100%;
	
	.fotorama__wrap{
		margin: 0 auto;
	}
	.fotorama__stage .fotorama__img{
		top: 50% !important;
		transform: translateY(-50%) !important;
	}
	.fotorama__stage{
		height: calc(100vh - 70px - 100px - 30px) !important;
	}
	
	// elements
	&__{
		&bg{
			background: $color__dark_bg;
		}
	}
}