<div class="g-section g-section_slide gallery__bg">
	<div class="gallery">
		<a href="http://placehold.alanev.ru/1280x470.jpg"><img src=":170x100.jpg"></a>
		<a href="http://placehold.alanev.ru/1280x470/00ff00.jpg"><img src=":170x100/00ff00.jpg"></a>
		<a href="http://placehold.alanev.ru/1280x470/ffff00.jpg"><img src=":170x100/ffff00.jpg"></a>
		<a href="http://placehold.alanev.ru/1280x470/ff5500.jpg"><img src=":170x100/ff5500.jpg"></a>
		<a href="http://placehold.alanev.ru/1280x470/55ff00.jpg"><img src=":170x100/55ff00.jpg"></a>
		<a href="http://placehold.alanev.ru/1280x470/ff0055.jpg"><img src=":170x100/ff0055.jpg"></a>
		<a href="http://placehold.alanev.ru/1280x470/ff5555.jpg"><img src=":170x100/ff5555.jpg"></a>
	</div>
</div>