<div class="g-section g-section_slide benefits">
	<div class="g-section__content benefits__content">
		<div class="benefits__inner">
			<div class="benefits__title">Максимальный комфорт и выгода</div>
			<div class="benefits__list">
				<div class="benefits__benefit">
					<div class="benefits__benefit__icon"><div class="i-hands"></div></div>
					<div class="benefits__benefit__title">Без посредников</div>
					<div class="benefits__benefit__text">Вы приобретаете квартиру напрямую от застройщика.</div>
				</div>
				<div class="benefits__benefit">
					<div class="benefits__benefit__icon"><div class="i-timer"></div></div>
					<div class="benefits__benefit__title">В нужное время</div>
					<div class="benefits__benefit__text">Выгодно приобретать квартиру на начальном этапе строительства, когда цена за м2 минимальна.</div>
				</div>
				<div class="benefits__benefit">
					<div class="benefits__benefit__icon"><div class="i-doc"></div></div>
					<div class="benefits__benefit__title">Без бумажной волокиты</div>
					<div class="benefits__benefit__text">Наши специалисты бесплатно оформят всю необходимую документацию.</div>
				</div>
			</div>
		</div>
		<div class="benefits__order">
			<div class="benefits__order__title">Узнайте о всех преимуществах</div>
			<div class="benefits__order__subtitle">мы перезвоним Вам в ближайшее время</div>
			<form class="benefits__order__form">
				<input type="text" class="benefits__order__input" placeholder="Ваше имя" required>
				<input type="tel" class="benefits__order__input" placeholder="Номер телефона" required>
				<button class="benefits__order__button">Записаться</button>
			</form>
		</div>
	</div>
</div>