.benefits{
	background: url(img/bg-4.jpg) 0 bottom / cover no-repeat;
	
	// elements
	&__{
		&content{
			flex: 1 1 100%;
			align-self: flex-end;
			max-width: 870px;
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
		&inner{
			flex: 2 1 0%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&title{
			margin: 3rem 0;
			font-size: 3rem;
		}
		&list{
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 870px;
		}
		&benefit{
			margin: 0 0 3rem;
			width: 30%;
			&__{
				&icon{
					margin: 0 0 1rem;
				}
				&title{
					margin: 1rem 0;
					font-size: 1.125rem;
					font-weight: 700;
				}
			}
		}
		&order{
			height: 100px;
			padding: 2rem 100px 3rem;
			margin-left: -100px;
			
			background: $color__theme;
			color: $color__white;
			
			&__{
				&title{
					font-size: 1.5rem;
					font-weight: 700;
				}
				&form{
					display: flex;
					justify-content: flex-start;
					margin: 1rem 0 0;
				}
				&input{
					height: 3rem;
					line-height: 3rem;
					padding: 0 1.3rem;
					margin-right: .5rem;
					
					background: $color__white;
					color: $color__black;
				}
				&button{
					max-width: 160px;
					font-weight: 700;
			
					transition: .3s;
					background: $color__dark;
					color: $color__white;
					cursor: pointer;
					
					&:hover{
						background: none;
						box-shadow: 0 0 0 3px $color__dark inset;
						color: $color__dark;
					}
					&:active{
						box-shadow: none;
						background: color($color__dark l(+10%));
					}
				}
			}
		}
	}
}