<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1024">
	
	<title>АРИСТОКРАТ | Жилой комплекс</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
	
	<!--Libs & Frameworks-->
	<script src="//code.jquery.com/jquery-latest.js" defer></script>
	<!--Fototama-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js" defer></script>
	<!--FullPage-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js" defer></script>
	<!--Yamaps-->
	<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" defer></script>
	
	<script src="modernizr.js" async></script>
	<script src="app-async.js" async></script>
	<script src="app.js" defer></script>
	
	<noscript>
		<style>
			body{
				margin-top: 50px;
			}
			.g-errors__nojs{
				display: block;
			}
		</style>
	</noscript>
</head>