.flats{
	position: relative;
	display: flex;
	align-items: center;
	flex: 1 1 100%;
	width: 100%;
	
	overflow: hidden;
	
	// elements
	.svg-section{
		fill: #E3E3E3;
		transition: .3s;
		
		&._active,
		&:hover{
			fill: $color__theme;
			cursor: pointer;
		}
	}
	.svg-sections{
		fill: color(red a(.3));
		
		path{
			transition: .3s;
			
			&:hover{
				fill: color(blue a(.3));
				cursor: pointer;
			}
		}
	}
	&__{
		&aside{
			align-self: stretch;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			box-sizing: border-box;
			
			min-width: 325px;
			width: 325px;
			padding: 3rem;
			background: $color__dark;
			color: $color__white;
			
			@media (--smalldesktop) {
				display: none;
			}
			
			&:after{
				content: '';
				position: absolute 10% 0 * *;
				border-top: .5rem solid transparent;
				border-bottom: .5rem solid transparent;
				border-right: .5rem solid white;
			}
			&__{
				&title,
				&subtitle{
					line-height: 1;
				}
				&title{
					margin: 0 0 1rem;
					font-size: 1.5rem;
					font-weight: 700;
				}
				&subtitle{
					padding: 0 0 2.5rem;
					margin: 0 0 1rem;
					border-bottom: 1px solid color(white a(.2));
					font-size: 1rem;
					color: color(white a(.3));
				}
				&manager{
					margin: 1rem 0;
				}
			}
		}
		&manager{
			display: flex;
			align-items: center;
			
			&__{
				&preview{
					border-radius: 50%;
					margin: 0 1rem 0 0;
				}
				&name{
					font-weight: 700;
				}
				&post{
					font-size: .75rem;
				}
			}
		}
		&form{
			&__{
				&title{
					margin: 0 0 .5rem;
					font-size: 1.125rem;
					font-weight: 700;
				}
				&note{
					font-size: .75rem;
					color: color(white a(.3));
				}
				&button{
					max-width: 140px;
					background: $color__theme;
					
					&:hover{
						box-shadow: 0 0 0 3px $color__theme inset !important;
						background: none;
						color: $color__theme !important;
					}
					&:active{
						box-shadow: none !important;
						background: white !important;
						color: black !important;
					}
				}
			}
		}
		&main{
			display: flex;
			flex: 1 1 0%;
			padding: 0 3rem;
		}
		&sections{
			margin: 0 0 0 3.25rem;
			
			// elements
			&__{
				&title,
				&address{
					text-align: center;
				}
				&title{
					padding: 0 0 1rem;
					border-bottom: 1px solid color(black a(.2));
					font-size: 1rem;
					font-weight: 700;
					line-height: 1.625rem;
				}
				&address{
					line-height: 2;
					border-bottom: 1px solid color(black a(.2));
				}
				&preview{
					display: flex;
					margin: 2rem 0;
				}
				&list{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin: .5rem 0 .5rem 2rem;
				}
				&number{
					font-size: 1.625rem;
				}
				&label{
					&._active{
						color: $color__theme;
					}
				}
			}
		}
		&section-wrap{
			flex: 1 1 0%;
			min-height: 600px;
			text-align: center;
		}
		&section{
			
			// mods
			&:not(._active){
				display: none;
			}
			&--1 &__plan svg{
				width: 460px;
				height: 280px;
			}
			&--4 &__plan{
				top: 5px;
				right: -30px;
			}
			&--4 &__plan svg{
				width: 460px;
				height: 300px;
			}
			&--3 &__plan svg,
			&--2 &__plan svg{
				width: 220px;
				height: 400px;
			}
			
			// elements
			&__{
				&title{
					padding: 0 0 1rem;
					border-bottom: 1px solid color(black a(.2));
					font-size: 1.625rem;
					line-height: 1;
				}
				&deadline{
					line-height: 3;	
					color: color(black a(.3));
				}
				&date{
					color: black;
				}
				&preview{
					position: relative;
					display: inline-block;
					margin: 1.5rem 0;
				}
				&img{
					display: block;
					max-width: 510px;
					max-height: 400px;
					width: auto;
					height: auto;
				}
				&plan{
					position: absolute;
					top: 0;
					right: 0;
				}
				&note{
					max-width: 500px;
					margin: 0 auto;
					font-size: .75rem;
				}
			}
		}
		&flat{
			position: absolute 0;
			transition: .5s;
			background: white;
			
			&:not(._open){
				transform: translateX(110%);
			}
		}
	}
}