<div class="g-section g-section_slide">
	<div class="flats">
		<aside class="flats__aside">
			<div class="flats__aside__title">Выберите квартиру</div>
			<div class="flats__aside__subtitle">для подробной информации и бронирования</div>
			<div class="flats__aside__manager">
				<div class="flats__manager">
					<img src=":80x80" alt="" class="flats__manager__preview">
					<div class="flats__manager__info">
						<div class="flats__manager__name">Татьяна Палецких</div>
						<div class="flats__manager__post">директор по продажам</div>
					</div>
				</div>
			</div>
			<form class="flats__form">
				<div class="flats__form__title">Возникли вопросы?</div>
				<div class="flats__form__note">Оставьте свой номер телефона, мы перезвоним Вам в ближайшее время</div>
				<input type="tel" class="form__input" placeholder="Номер телефона" required>
				<button class="form__button form__button--light flats__form__button">Отправить</button>
			</form>
		</aside>
		<main class="flats__main">
			<div class="flats__section-wrap">
				<div class="flats__section flats__section--1 _active" data-section="1">
					<div class="flats__section__title">План этажа 1 секции</div>
					<div class="flats__section__deadline">Срок сдачи: 
						<span class="flats__section__date">4 кв. 2017</span>
					</div>
					<div class="flats__section__preview">
						<img src="img/section1.png" alt="" class="flats__section__img">
						<div class="flats__section__plan">
							<import src="modules/flats/section1.svg"></import>
						</div>
					</div>
					<div class="flats__section__note">Уважаемые Клиенты, обратите внимание, что на сайте указана планировка типового этажа. Пожалуйста, уточните планировку выбранной вами квартиры в отделе продаж при бронировании.</div>
				</div>
				<div class="flats__section flats__section--2" data-section="2">
					<div class="flats__section__title">План этажа 2 секции</div>
					<div class="flats__section__deadline">Срок сдачи: 
						<span class="flats__section__date">4 кв. 2017</span>
					</div>
					<div class="flats__section__preview">
						<img src="img/section2.png" alt="" class="flats__section__img">
						<div class="flats__section__plan">
							<import src="modules/flats/section2.svg"></import>
						</div>
					</div>
					<div class="flats__section__note">Уважаемые Клиенты, обратите внимание, что на сайте указана планировка типового этажа. Пожалуйста, уточните планировку выбранной вами квартиры в отделе продаж при бронировании.</div>
				</div>
				<div class="flats__section flats__section--3" data-section="3">
					<div class="flats__section__title">План этажа 3 секции</div>
					<div class="flats__section__deadline">Срок сдачи: 
						<span class="flats__section__date">4 кв. 2017</span>
					</div>
					<div class="flats__section__preview">
						<img src="img/section3.png" alt="" class="flats__section__img">
						<div class="flats__section__plan">
							<import src="modules/flats/section3.svg"></import>
						</div>
					</div>
					<div class="flats__section__note">Уважаемые Клиенты, обратите внимание, что на сайте указана планировка типового этажа. Пожалуйста, уточните планировку выбранной вами квартиры в отделе продаж при бронировании.</div>
				</div>
				<div class="flats__section flats__section--4" data-section="4">
					<div class="flats__section__title">План этажа 4 секции</div>
					<div class="flats__section__deadline">Срок сдачи: 
						<span class="flats__section__date">4 кв. 2017</span>
					</div>
					<div class="flats__section__preview">
						<img src="img/section4.png" alt="" class="flats__section__img">
						<div class="flats__section__plan">
							<import src="modules/flats/section4.svg"></import>
						</div>
					</div>
					<div class="flats__section__note">Уважаемые Клиенты, обратите внимание, что на сайте указана планировка типового этажа. Пожалуйста, уточните планировку выбранной вами квартиры в отделе продаж при бронировании.</div>
				</div>
			</div>
			<div class="flats__sections">
				<div class="flats__sections__title">Выбор секции</div>
				<address class="flats__sections__address">ул. Камышинская</address>
				<div class="flats__sections__preview">
					<div class="flats__sections__image">
						<import src="modules/flats/sections.svg"></import>
					</div>
					<div class="flats__sections__list">
						<div class="flats__sections__label _active">
							Секция
							<div class="flats__sections__number">1</div>
						</div>
						<div class="flats__sections__label">
							Секция
							<div class="flats__sections__number">2</div>
						</div>
						<div class="flats__sections__label">
							Секция
							<div class="flats__sections__number">3</div>
						</div>
						<div class="flats__sections__label">
							Секция
							<div class="flats__sections__number">4</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div class="flats__flat">
			<import module="flat"></import>
		</div>
	</div>
</div>