.preloader{
	position: fixed 0;
	z-index: 2000;
	
	background: white;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	text-align: center;
	
	transition: .3s;
	
	&:not(._active){
		visibility: hidden;
		opacity: 0;
	}
	
	// elements
	&__{
		&anim{
			margin-top: 10%;
			margin-left: -2rem;
		}
	}
}